.home {
  padding: 50px 0;
  background: #f5f6fa;
}

.container {
  width: 1200px;
  max-width: 95%;
  margin: auto;
}

.home h1 {
  font-size: 34px;
  margin-bottom: 10px;
}

.home p {
  color: #555;
  margin-bottom: 35px;
}

/* COURSE GRID */

.courses-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@media (max-width: 1024px) {
  .courses-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .courses-grid {
    grid-template-columns: 1fr;
  }
}